<div class="page">
  <app-topbar
    title="Editar Plan"
    subtitle="Modifica la información del plan de servicio">
  </app-topbar>

  <div class="page-content">

    <div class="state-box" *ngIf="isLoading">
      <div class="spinner"></div>
      <p>Cargando plan...</p>
    </div>

    <app-plan-form
      *ngIf="!isLoading && existingPlan"
      submitLabel="Guardar cambios"
      [existingPlan]="existingPlan"
      [isSubmitting]="isSubmitting"
      [errorMessage]="errorMessage"
      (formSubmit)="onSubmit($event)"
      (formCancel)="cancel()">
    </app-plan-form>

  </div>
</div>