<div class="page">

  <app-topbar title="Detalle del Plan" subtitle="Información completa y auditoría del plan" [showExport]="false">
  </app-topbar>

  <div class="page-content">

    <!-- Acciones -->
    <div class="page-header">
      <button class="btn btn-outline" (click)="goBack()">
        <i class="ti ti-arrow-left"></i>
        Volver
      </button>
      <button class="btn btn-primary" (click)="editPlan()" *ngIf="plan">
        <i class="ti ti-pencil"></i>
        Editar plan
      </button>
    </div>

    <!-- Loading plan -->
    <div class="state-box" *ngIf="isLoadingPlan">
      <div class="spinner"></div>
      <p>Cargando plan...</p>
    </div>

    <!-- Error plan -->
    <div class="state-box state-box--error" *ngIf="!isLoadingPlan && errorPlan">
      <i class="ti ti-alert-circle"></i>
      <p>{{ errorPlan }}</p>
      <button class="btn btn-outline" (click)="loadPlan(plan?.idPlan!)">
        <i class="ti ti-refresh"></i>
        Reintentar
      </button>
    </div>

    <!-- Detalle del plan -->
    <app-plan-detail-card *ngIf="!isLoadingPlan && plan" [plan]="plan">
    </app-plan-detail-card>

    <app-plan-organizers *ngIf="!isLoadingPlan && plan" [planId]="plan.idPlan">
    </app-plan-organizers>

    <!-- Auditoría -->
    <app-audit-table *ngIf="!isLoadingPlan && plan" [audits]="audits" [isLoading]="isLoadingAudit" [error]="errorAudit">
    </app-audit-table>

  </div>
</div>