<app-nav-admin>

    <!-- HEADER -->
    <app-topbar
      title="Dashboard administrador" 
      subtitle="Visualización de métricas y estadísticas del sistema"
      [showExport]="true">
    </app-topbar>

      <div *ngIf="checking" class="fullscreen-status">
        <div class="fs-card">
          <div class="fs-spinner"></div>
          <p class="fs-title">Cargando</p>
          <p class="fs-sub">Por favor espera un momento...</p>
        </div>
      </div>
      
     <div class="content">

      <!-- ERROR — sin conexión -->
      <div *ngIf="!checking && !backendOnline" class="fullscreen-status">
        <div class="fs-card error">
          <div class="fs-icon">
            <i class="ti ti-wifi-off"></i>
          </div>

          <p class="fs-title">Sin conexión al servidor</p>
          <p class="fs-sub">
            No se pudo establecer conexión. <br>
            Reintentando automáticamente...
          </p>

          <div class="fs-dots">
            <span></span><span></span><span></span>
          </div>
        </div>
      </div>

    <!-- CONTENIDO DE ESTADISTICAS -->
    <ng-container *ngIf="!checking && backendOnline">

    <app-filters (filtersChanged)="onFiltersChanged($event)"></app-filters>

    <!--Datos generales-->
      <p class="section-title">Datos generales</p>
      <app-kpi-cards></app-kpi-cards>

      <p class="section-title">Estadísticas de planes</p>
      <app-plan-chart></app-plan-chart>

      <!--Eventos por organizador-->
      <p class="section-title">Estadísticas de eventos</p>
      <app-organizer-chart></app-organizer-chart>

      <p class="section-title">Estadísticas de usuarios</p>
      <app-monthly-chart></app-monthly-chart>

      <p class="section-title">Estadísticas de usuarios por evento</p>
      <app-users-by-event></app-users-by-event>

       <app-toast></app-toast>

    </ng-container>
    </div>

  <app-chatbot-admin></app-chatbot-admin>

</app-nav-admin>