<div class="layout">

  <!-- SIDEBAR -->
  <aside class="sidebar">
    <div class="sidebar-logo">
      <div class="logo-icon">
        <img src="assets/images/logoQvn.png" alt="">
      </div>
      <span class="logo-name">Qvenly</span>
    </div>

    <nav class="sidebar-nav">
      <p class="nav-group">Principal</p>
      <a class="nav-item" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="ti ti-layout-dashboard"></i>
        Dashboard
      </a>

      <p class="nav-group">Planes</p>
      <a class="nav-item" routerLink="/plans" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="ti ti-diamond"></i>
        Gestión de planes
      </a>
      <a class="nav-item" routerLink="/plans/audit" routerLinkActive="active">
        <i class="ti ti-shield-check"></i>
        Auditoría
      </a>

      <p class="nav-group">Cuenta</p>
      <a class="nav-item" routerLink="/dashboard/profile" routerLinkActive="active">
        <i class="ti ti-user-circle"></i>
        Mi perfil
      </a>
      <a class="nav-item" routerLink="/dashboard/notifications" routerLinkActive="active">
        <i class="ti ti-bell"></i>
        Notificaciones
      </a>
      <button class="nav-item nav-item--danger" (click)="onLogout()">
        <i class="ti ti-logout"></i>
        Cerrar sesión
      </button>
    </nav>

    <div class="sidebar-user">
      <div class="user-profile">{{ userInitials }}</div>
      <div class="user-info">
        <p class="user-name">{{ userName }}</p>
        <p class="user-email">{{ userEmail }}</p>
      </div>
    </div>
  </aside>

  <!-- MAIN -->
  <main>
    <div class="main-content">
      <ng-content></ng-content>
    </div>
  </main>

</div>
