<div class="layout">

  <!-- SIDEBAR -->
  <aside class="sidebar">
    <div class="sidebar-logo">
      <div class="logo-icon">
        <img src="assets/images/logoQvn.png" alt="">
      </div>
      <span class="logo-name">Qvenly</span>
    </div>

    <nav class="sidebar-nav">
      <p class="nav-group">Principal</p>
      <a class="nav-item active" routerLink="/dashboard" routerLinkActive="active">
        <i class="ti ti-layout-dashboard"></i>
        Dashboard
      </a>
      <p class="nav-group">Planes</p>
      <a class="nav-item" routerLink="/plans" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="ti ti-diamond"></i>
        Gestión de planes
      </a>
      <p class="nav-group">Sistema</p>
      <a class="nav-item" routerLink="#" routerLinkActive="active">
        <i class="ti ti-bell"></i>
        Notificaciones
      </a>
      <a class="nav-item" routerLink="/plans/audit" routerLinkActive="active">
        <i class="ti ti-shield-check"></i>
        Auditoría
      </a>
    </nav>

    <div class="sidebar-user">
      <div class="user-profile">AD</div>
      <div class="user-info">
        <p class="user-name">Admin</p>
        <p class="user-email">admin&#64;qvenly.com</p>
      </div>
    </div>
  </aside>

  <!-- MAIN -->
  <main>
    <div class="main-content">
      <ng-content></ng-content>  
    </div>
  </main>

</div>